.u-section-1 .u-sheet-1 {
  min-height: 518px;
}

.u-section-1 .u-text-1 {
  margin: 117px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 64px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 102px auto 60px;
}